.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:3;
	visibility:hidden;
	width:100;
	height100;
}
.clearfix {
	display:inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
}
